


<div id="aboutadminbody" class="container-fluid">
    <h1 >Admin Area</h1>
    <div class="alert alert-danger" >
        <!--
            *ngIf='errorMsg'
{{errorMsg}}
        -->
    </div>
    <form #adminForm="ngForm"  
     >
     <!--novalidate
          (ngSubmit)="onSubmit()"
        *ngIf="!submitted"-->
        <div *ngFor="let about of aboutGetData">
{{clickMessage}}
            <div class="form-group" id="formGroupWithInput">
                <label>First Name</label>               
                <div class="inputWithButton">
                <input type="text" required class="form-control" [(ngModel)]="about.FirstName.Data" 
                [class.is-invalid]="FirstName.invalid && FirstName.touched" name="FirstName" #FirstName="ngModel" > 
                <button [class.d-none]="!FirstName.dirty" [disabled]="!FirstName.dirty || FirstName.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>
                </div>
                <small class="text-danger" [class.d-none]="FirstName.valid || FirstName.untouched">First Name is required</small>
            </div>
            <div class="form-group" id="formGroupWithInput">
                <label>Middle Name</label>
                <div class="inputWithButton">
                    <input type="text" required class="form-control" [(ngModel)]="about.MiddleName.Data" 
                    [class.is-invalid]="MiddleName.invalid && MiddleName.touched" name="MiddleName" #MiddleName="ngModel" >
                    <button [class.d-none]="!MiddleName.dirty" [disabled]="!MiddleName.dirty || MiddleName.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>
                 </div>
               <small class="text-danger" [class.d-none]="MiddleName.valid || MiddleName.untouched">Middle Name is required</small>
            </div>

            <div class="form-group" id="formGroupWithInput">
                <label>Last Name</label>
                <div class="inputWithButton">
                    <input type="text" required class="form-control" [(ngModel)]="about.LastName.Data" 
                [class.is-invalid]="LastName.invalid && LastName.touched" name="LastName" #LastName="ngModel" >
                <button [class.d-none]="!LastName.dirty" [disabled]="!LastName.dirty || MiddleName.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>           
                </div>
                <small class="text-danger" [class.d-none]="LastName.valid || LastName.untouched">LastName is required</small>
            </div>
            
            

            <div class="form-group" id="formGroupWithList">
                <div class="labelAndButton">
                    <label class="labelForLabelAndButtons">Phone numbers</label>
                    <button  class="btn buttonForLabelAndButtons" (click)="addPhoneNumber()">Add New Phone Number</button>
                </div>
                <div *ngFor="let phone of about.phoneNumbers" >
                    <div class="spanAndActionLink">
                    <span  [(ngModel)]="phone.Data" class="text-primary" name="phone" > 
                        +880  {{phone.Data}}
                    </span>
                    <a class='deleteElement' (click)="delete_SmallTextListDataModel(phone.Id,phone.ParentId)">Delete</a>
                    <!--div class="editButtons">
                        <a class="updateListElement" href="#">Update</a>
                        <a class='deleteElement' href="#">Delete</a>
                    </div-->
                    </div>
                </div>
                
                <div  *ngIf="showAddPhonePortion">
                    <div class="addInputButton">
                    <input type="tel"  class="form-control" #newPhone="ngModel"  name="newPhone" ngModel
                     required [class.is-invalid]="newPhone.invalid && newPhone.touched" pattern="^\d{11}$">
                   <!-- {{newPhone.value}}  {{newPhone.valid}}-->
                    <div class="inputButtonDiv">
                        <!--input value="newPhone" (input)="newPhone=$event.target.value"-->
                        <button class="" [disabled]="newPhone.pristine || newPhone.invalid" (click)="AddNewPhoneNumber(newPhone.value)" >Add</button>
                        <button class="" (click)="hideAddPhonePortion()">Cancel</button>
                    </div>  
                   
                </div>
                <small class="text-danger" [class.d-none]="newPhone.valid || newPhone.untouched">newPhone is required with 11 digits</small>       
                </div>
                
            </div>

            <div class="form-group" id="formGroupWithList">
                <div class="labelAndButton">
                    <label class="labelForLabelAndButtons">emails</label>
                    <button  class="btn buttonForLabelAndButtons" (click)="addEmailNumber()">Add New Email</button>
                </div>
                <!--div *ngFor="let email of about.emails" class="spanAndActionLink">
                    <span  [(ngModel)]="email.Data"  class="text-primary"  name="email">{{email.Data}}</span>
                    <a class='deleteElement' (click)="delete_SmallTextListDataModel(email.Id,email.ParentId)">Delete</a>
                </div-->
                <div *ngFor="let email of about.emails" >
                    <div class="spanAndActionLink">
                    <span  [(ngModel)]="email.Data"  class="text-primary"  name="email">{{email.Data}}</span>
                    <a class='deleteElement' (click)="delete_SmallTextListDataModel(email.Id,email.ParentId)">Delete</a>
                    </div>
                </div>
                <div  *ngIf="showAddEmailPortion">
                    <div class="addInputButton">
                    <input type="email"  class="form-control" #newEmail="ngModel" ngModel name="newEmail"
                     required [class.is-invalid]="newEmail.invalid && newEmail.touched" email>
                    <div class="inputButtonDiv">
                        <button class="" [disabled]="newEmail.pristine || newEmail.invalid" (click)="AddNewEmail(newEmail.value)" >Add</button>
                        <button class="" (click)="hideAddEmailPortion()">Cancel</button>

                    </div>         
                </div>
                <small class="text-danger" [class.d-none]="newEmail.valid || newEmail.untouched">newEmail is required </small>       
                </div>
            </div>
            <div class="form-group" id="formGroupWithList">
                <div class="labelAndButton">
                    <label class="labelForLabelAndButtons">Languages</label>
                    <button  class="btn buttonForLabelAndButtons" (click)="addLanguageNumber()">Add New Language</button>
                </div>
                <!--div *ngFor="let language of about.languages" class="spanAndActionLink">
                    <span  [(ngModel)]="language.Data"  class="text-primary"  name="language">{{language.Data}}</span>
                    <a class='deleteElement' (click)="delete_SmallTextListDataModel(language.Id,language.ParentId)">Delete</a>
                </div-->
                <div *ngFor="let language of about.languages" >
                    <div class="spanAndActionLink">
                    <span  [(ngModel)]="language.Data"  class="text-primary"  name="language">{{language.Data}}</span>
                    <a class='deleteElement' (click)="delete_SmallTextListDataModel(language.Id,language.ParentId)">Delete</a>
                    </div>
                </div>
                <div  *ngIf="showAddLanguagePortion">
                    <div class="addInputButton">
                    <input type="text"  class="form-control" #newLanguage="ngModel" name="newLanguage" ngModel required [class.is-invalid]="newLanguage.invalid && newLanguage.touched">
                    <div class="inputButtonDiv">
                        <button class="" (click)="AddNewLanguage(newLanguage.value)"  [disabled]="newLanguage.pristine || newLanguage.invalid">Add</button>
                        <button class="" (click)="hideAddLanguagePortion()">Cancel</button>
                    </div>         
                </div>
                <small class="text-danger" [class.d-none]="newLanguage.valid || newLanguage.untouched">newLanguage is required </small>       
                </div>
            </div>
            <div class="form-group" id="formGroupWithInput">
                    <label>DOB</label>
                <div class="inputWithButton">
                    <input type="text"
                            required
                           class="form-control"
                           [(ngModel)]="about.DOB.Data"
                           [class.is-invalid]="DOB.invalid && DOB.touched"
                           name="DOB"
                           #DOB="ngModel"
                           bsDatepicker
                           >
                           <button [class.d-none]="!DOB.dirty" [disabled]="!DOB.dirty || DOB.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>
                </div>
                    
                    <small class="text-danger" [class.d-none]="DOB.valid || DOB.untouched">DOB is required</small>                    
                
            </div>
            <div class="form-group" id="formGroupWithInput">
                <label>fullAddress</label>
                <div class="inputWithButton">
                    <input type="text" required class="form-control" [(ngModel)]="about.fullAddress.Data" 
                [class.is-invalid]="fullAddress.invalid && fullAddress.touched" name="fullAddress" #fullAddress="ngModel" >
                <button [class.d-none]="!fullAddress.dirty" [disabled]="!fullAddress.dirty || fullAddress.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>           
                </div>
                <small class="text-danger" [class.d-none]="fullAddress.valid || fullAddress.untouched">fullAddress is required</small>
            </div>
            <div class="form-group" id="formGroupWithInput">
                <label>city</label>
                <div class="inputWithButton">
                    <input type="text" required class="form-control" [(ngModel)]="about.city.Data" 
                [class.is-invalid]="city.invalid && city.touched" name="city" #city="ngModel" >
                <button [class.d-none]="!city.dirty" [disabled]="!city.dirty || city.invalid" class="btn" type="submit" (click)="onClickMe()">Update</button>            
                </div>
                <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required</small>
            </div>
            <div class="form-group" id="formGroupWithList">
                <div class="labelAndButton">
                    <label class="labelForLabelAndButtons">brief</label>
                    <button  class="btn buttonForLabelAndButtons" (click)="addBriefNumber()">Add New Brief</button>
                </div>
                <!--div *ngFor="let brief of about.brief"  >
                    <div class="spanAndActionLink">
                        <span  [(ngModel)]="brief.Data"  class="text-primary"  name="brief">{{brief.Data}}</span>
                        <a class='deleteElement' (click)="delete_LargeTextListDataModel(brief.Id,brief.ParentId)">Delete</a>
                    </div>
                </div-->
                <div *ngFor="let brief of about.brief" >
                    <div class="spanAndActionLink">
                    <span  [(ngModel)]="brief.Data"  class="text-primary"  name="brief">{{brief.Data}}</span>
                    <a class='deleteElement' (click)="delete_LargeTextListDataModel(brief.Id,brief.ParentId)">Delete</a>
                    </div>
                </div>
                <div  *ngIf="showAddBriefPortion">
                    <div class="addInputButton">
                    <input type="text"  class="form-control" #newBrief="ngModel" ngModel [class.is-invalid]="newBrief.invalid && newBrief.touched" required name="newBrief" >
                    <div class="inputButtonDiv">
                        <button class="" (click)="AddNewBrief(newBrief.value)" [disabled]="newBrief.pristine || newBrief.invalid" >Add</button>
                        <button class="" (click)="hideAddBriefPortion()">Cancel</button>
                    </div>         
                </div>
                <small class="text-danger" [class.d-none]="newBrief.valid || newBrief.untouched">newBrief is required </small>       
                </div>
            </div>
            <div class="form-group" id="formGroupWithList">
                <div class="labelAndButton">
                    <label class="labelForLabelAndButtons">socials</label>
                    <button  class="btn buttonForLabelAndButtons" (click)="addSocialNumber()">Add New Social link</button>
                </div>
                <!--div *ngFor="let socialLink of about.socialLinks" >
                    <div class="spanAndActionLink">
                        <a href="">
                            <span  [(ngModel)]="socialLink.Title"  class="text-primary"  name="socialLink">{{socialLink.Title}}</span>
                        </a>
                        <a class='deleteElement' (click)="delete_OnlineLinkDataModel(socialLink.Id,socialLink.ParentId)" >Delete</a>
                    </div>
                </div-->
                <div *ngFor="let socialLink of about.socialLinks" >
                    <!--div class="spanAndActionLink">
                        <div class="doubleSpanAndActionLink">
                        <span  [(ngModel)]="socialLink.Title"  class="text-primary"  name="socialLink">{{socialLink.Title}}</span>
                        <a href="">
                        <span  [(ngModel)]="socialLink.Link"  class="text-primary"  name="socialLink">{{socialLink.Link}}</span>
                        </a>
                     </div-->
                     <div class="spanAndActionLink">
                        <div class="doubleSpanAndActionLink">
                        
                        <a href="{{socialLink.Link}}">
                        <span  [(ngModel)]="socialLink.Title"  class="text-primary"  name="socialLink">{{socialLink.Title}}</span>
                        </a>
                     </div>
                    <a class='deleteElement' (click)="delete_OnlineLinkDataModel(socialLink.Id,socialLink.ParentId)">Delete</a>
                    </div>
                </div>
                <div  *ngIf="showAddSocialPortion">
                    <div class="addInputButton">
                    <div class="addDoubleInputButton">
                    <input type="text"  class="form-control" #newSocialTitle="ngModel" name="newSocialTitle" ngModel placeholder="Enter title" required [class.is-invalid]="newSocialTitle.invalid && newSocialTitle.touched">
                    <input type="text"  class="form-control" #newSocialLink="ngModel" name="newSocialLink" ngModel placeholder="Enter link" required [class.is-invalid]="newSocialLink.invalid && newSocialLink.touched">
                    </div>
                    <div class="inputButtonDiv">
                        <button class="" (click)="AddNewSocial(newSocialTitle.value,newSocialLink.value)" [disabled]="newSocialTitle.pristine || newSocialTitle.invalid || newSocialLink.pristine || newSocialLink.invalid"  >Add</button>
                        <button class="" (click)="hideAddSocialPortion()">Cancel</button>
                    </div>         
                </div>
                <!--div class="smallWornings">
                <small class="text-danger" [class.d-none]="(newSocialTitle.valid || newSocialTitle.untouched) && ( newSocialLink.valid || newSocialLink.untouched)" >newSocialTitle is required <br></small>   
                <!small class="text-danger" [class.d-none]=" newSocialLink.valid || newSocialLink.untouched">newSocialLink is required </small>       
                </div-->
                <small class="text-danger" [class.d-none]="(newSocialTitle.valid || newSocialTitle.untouched) && ( newSocialLink.valid || newSocialLink.untouched)" >newSocial Title and Link both are required <br></small>   
                </div>

            </div>
        </div>
    </form>
</div>